<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h1></h1>
<h1>Enter Your Data</h1>

<h2>Application deployed via CLI to Azure App Service, as a web app</h2>

<p >Data</p>

	<!-- <form th:action="@{/submit}" th:object="${customerInfo}" method="post">
		<label>Name: </label>
		<input type="text" th:field="*{name}"/>
		
		<label>email Id : </label>
		<input type="text" th:field="*{emailId}" />
		<label>Mobile Number : </label>
		<input type="text" th:field="*{mobileNumber}"/>
		<label>Loan Amount : </label>
		<input type="text" th:field="*{loanAmount}"/>
		<button type="submit" class="btn">Submit</button>
		
	</form> -->
	
	<form action="/submit" method="post">
	Name : <input type="text" name="inName"/> 
	<button type="submit" class="btn">Submit</button>
	</form>
    
    
</body>
</html>